.navbar {
  padding: 1rem;
  background-color: #2e3b55;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
}

.home-icon {
  margin-right: 0.5rem;
}